<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>vue.js_components</title>
</head>
<body>
	<div id="app">

		<h1>くり返しコンポーネント</h1>
		<div>texts：{{texts}}</div>
		<loop
			ref="loop"
			v-model="texts"
			v-slot="props"
			:limit="5"
			:add_data="{text: ''}"
		>
			<label>テキスト編集</label>
			<input v-model.lazy="props.data.text" type="text" class="form-control">
		</loop>
		<BR><BR><hr>


		<h1>HTML対応プレースホルダ</h1>
		<div>textarea：{{textarea}}</div>
		<textarea-html-placeholder
			v-model="textarea"
		>
			<span style="color:red;">入力</span><br>してください
		</textarea-html-placeholder>
		<BR><BR><hr>


		<h1>カスタムバリデーションinput</h1>
		<form>
			<label>全角5文字以内のカタカナ</label>
			<custom-validation-input
				v-model="input1"
				:full_max_width="5"
				:full_katakana="true"
			>
			</custom-validation-input>
			<br>

			<label>半角の数字</label>
			<custom-validation-input
				v-model="input2"
				:half_number="true"
			>
			</custom-validation-input>
			<br>

			<button @click="send">送信</button>
		</form>
		<BR><BR><hr>

	</div>
	<script src="./dist/main.js"></script>
</body>
</html>
